**/node_modules
**/coverage/**
**/.next/**
**/out/**
**/build/**
**/.swc/**
**/storybook-static/**
**/*.tsbuildinfo
**/.DS_Store
**/*.pem
**/tmp/**
**/npm-debug.log*
**/.pnpm-debug.log*
**/.env
**/.env.local
**/.turbo/**
**/.vercel/**
**/.idea/**
**/*.generated.ts
**/__generated__/**
**/generated/**
**/.vscode/**
**/dist/**
**/styled-system/**
**/panda.buildinfo.json
**/.cursor/**
**/public/**
**/static/**
**/lib/**
next-env.d.ts
